*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica,Helvetica,Arial;
    font-size: 13px;
}

body{
    width: 100%;
    background-color: #ccc;
}

.container{
    max-width: 400px;
    max-height: 500px;
    margin: auto;
    /* border: 1px solid #ccc; */
    border-radius: 6px;
    margin-top: 100px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .3);
    background-color: #fff;
    border: 0px;
}

.container .sign-header{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #FE5621;
}

.container h1{
    font-size: 26px;
    padding: 10px 0px;
    text-align: center;
    color:#fff;
}

.container .sign-up-top{
    margin: 20px 10px ;
}

.sign-up-top .ctn{
    margin: 6px 0;
}

.sign-up-top p{
    opacity: 0.8;
    margin: 10px 0 4px 0;
    font-size: 14px;
}

.sign-up-top .email-input{
    border: 2px solid #ccc;
    border-radius: 4px;
    display: flex;
}

.email-input .fa{
    display: none;
    margin: 5px 4px 0px 0;
    color:#50C752;
}

.email span,
.password span{
    font-size:13px
}
.email-input input:-internal-autofill-selected {
    /* appearance:none; */
    background-image: none !important;
    background-color: -internal-light-dark(rgb(232, 240, 254)) !important;
    color:#fff!important;}
.pass-input {
    display: flex;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.pass-input input{
    width: 90%;
}

.pass-input i{
    text-align: center;
    width: 10%;
    height: 100%;
}


.pass-input .show-pass{
    margin: 5px 4px 0px 0;
}

.sign-up-top input{
    font-size: 18px;
    width: 100%;
    padding: 4px;
    border:0;
}
input[type="email" i],
input[type="text" i],
input[type="password" i]{
    font-size: 13px;
}


input::placeholder{
    font-size: 10px;
}

input:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.container .sign-up-bottom{
    text-align: center;
    padding-bottom: 22px;
    padding-top: 14px;
}

.sign-up-bottom .sign-up-btn{
    padding: 10px;
    width: 158px;
    background-color: #FE5621;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.sign-up-btn:hover{
    opacity: 0.6;
}